body {
  margin: 0 0 0 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 500%;
  font-family: 'Sacramento', cursive;
  color: #4e89ae;
  display: block;
}

h2 {
  font-size: 300%;
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  color: #43658b;
}

h3 {
  font-size: 250%;
  font-family: 'Josefin Sans', sans-serif;
  margin-block-start: 1%;
  color: #d92027;
  margin-block-end: 0;
}

p {
  font-size: 150%;
  line-height: 2;
  color: #ff9234;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.myname {
  margin-top: 0;
}

.top-container {
  width: 100%;
  background-color: #e0ece4;
}

.responsive-element {
  height: 50%;
  width: 40%;
}

.cloud-1 {
  margin: auto;
  position: relative;
  right: 25%;
}

.cloud-2 {
  margin: auto;
  position: relative;
  left: 25%;
}

.mountain {
  margin: auto auto;
  width: 100%;
  position: relative;
}

.profile-pic {
  padding-top: 2.5%;
  width: 25%;
}

.mid-container {
  padding: 50 100;
  background-color: #d9ecf2;
}

.logo {
  width: 30%;
  padding: 10%;
  border-radius: 100%;
  float: right;
}

.social-link {
  margin: auto;
  width: 80%;
  text-align: left;
  display: inline-block;
}

.cell-size {
  width: 50%;
}